# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
**/.vscode

# JetBrains
.idea/

# Data & Models
*.h5
*.tar
*.tar.gz

# Lightning-Hydra-Template
configs/local/default.yaml
/data/
/logs/
.env

# Aim logging
.aim
outputs/2023-08-25/11-06-08/.hydra/config.yaml
outputs/2023-08-25/11-06-08/.hydra/hydra.yaml
outputs/2023-08-25/11-06-08/.hydra/overrides.yaml
outputs/2023-08-25/11-07-00/.hydra/config.yaml
outputs/2023-08-25/11-07-00/.hydra/hydra.yaml
outputs/2023-08-25/11-07-00/.hydra/overrides.yaml
outputs/2023-08-25/11-08-49/.hydra/config.yaml
outputs/2023-08-25/11-08-49/.hydra/hydra.yaml
outputs/2023-08-25/11-08-49/.hydra/overrides.yaml
outputs/2023-09-29/08-15-55/.hydra/config.yaml
outputs/2023-09-29/08-15-55/.hydra/hydra.yaml
outputs/2023-09-29/08-15-55/.hydra/overrides.yaml
outputs/2023-09-29/08-19-54/.hydra/config.yaml
outputs/2023-09-29/08-19-54/.hydra/hydra.yaml
outputs/2023-09-29/08-19-54/.hydra/overrides.yaml
outputs/2023-10-09/02-54-20/.hydra/config.yaml
outputs/2023-10-09/02-54-20/.hydra/hydra.yaml
outputs/2023-10-09/02-54-20/.hydra/overrides.yaml
outputs/2023-10-09/02-54-48/.hydra/config.yaml
outputs/2023-10-09/02-54-48/.hydra/hydra.yaml
outputs/2023-10-09/02-54-48/.hydra/overrides.yaml
outputs/2023-10-09/02-55-53/.hydra/config.yaml
outputs/2023-10-09/02-55-53/.hydra/hydra.yaml
outputs/2023-10-09/02-55-53/.hydra/overrides.yaml
outputs/2023-10-09/02-57-44/.hydra/config.yaml
outputs/2023-10-09/02-57-44/.hydra/hydra.yaml
outputs/2023-10-09/02-57-44/.hydra/overrides.yaml
outputs/2023-10-09/03-01-11/.hydra/config.yaml
outputs/2023-10-09/03-01-11/.hydra/hydra.yaml
outputs/2023-10-09/03-01-11/.hydra/overrides.yaml
outputs/2023-10-09/03-02-07/.hydra/config.yaml
outputs/2023-10-09/03-02-07/.hydra/hydra.yaml
outputs/2023-10-09/03-02-07/.hydra/overrides.yaml
outputs/2023-10-09/08-10-12/.hydra/config.yaml
outputs/2023-10-09/08-10-12/.hydra/hydra.yaml
outputs/2023-10-09/08-10-12/.hydra/overrides.yaml
outputs/2023-10-09/08-12-52/.hydra/config.yaml
outputs/2023-10-09/08-12-52/.hydra/hydra.yaml
outputs/2023-10-09/08-12-52/.hydra/overrides.yaml
outputs/2023-10-09/08-38-56/.hydra/config.yaml
outputs/2023-10-09/08-38-56/.hydra/hydra.yaml
outputs/2023-10-09/08-38-56/.hydra/overrides.yaml
outputs/2023-10-09/08-40-48/.hydra/config.yaml
outputs/2023-10-09/08-40-48/.hydra/hydra.yaml
outputs/2023-10-09/08-40-48/.hydra/overrides.yaml
outputs/2023-10-09/08-46-28/.hydra/config.yaml
outputs/2023-10-09/08-46-28/.hydra/hydra.yaml
outputs/2023-10-09/08-46-28/.hydra/overrides.yaml
outputs/2023-10-09/08-49-26/.hydra/config.yaml
outputs/2023-10-09/08-49-26/.hydra/hydra.yaml
outputs/2023-10-09/08-49-26/.hydra/overrides.yaml
outputs/2023-10-09/08-53-28/.hydra/config.yaml
outputs/2023-10-09/08-53-28/.hydra/hydra.yaml
outputs/2023-10-09/08-53-28/.hydra/overrides.yaml
outputs/2023-10-09/08-58-01/.hydra/config.yaml
outputs/2023-10-09/08-58-01/.hydra/hydra.yaml
outputs/2023-10-09/08-58-01/.hydra/overrides.yaml
outputs/2023-10-09/09-27-35/.hydra/config.yaml
outputs/2023-10-09/09-27-35/.hydra/hydra.yaml
outputs/2023-10-09/09-27-35/.hydra/overrides.yaml
outputs/2023-10-09/09-29-21/.hydra/config.yaml
outputs/2023-10-09/09-29-21/.hydra/hydra.yaml
outputs/2023-10-09/09-29-21/.hydra/overrides.yaml
outputs/2023-10-09/09-30-16/.hydra/config.yaml
outputs/2023-10-09/09-30-16/.hydra/hydra.yaml
outputs/2023-10-09/09-30-16/.hydra/overrides.yaml
outputs/2023-10-09/09-32-16/.hydra/config.yaml
outputs/2023-10-09/09-32-16/.hydra/hydra.yaml
outputs/2023-10-09/09-32-16/.hydra/overrides.yaml
outputs/2023-10-09/09-33-09/.hydra/config.yaml
outputs/2023-10-09/09-33-09/.hydra/hydra.yaml
outputs/2023-10-09/09-33-09/.hydra/overrides.yaml
outputs/2023-10-09/09-33-36/.hydra/config.yaml
outputs/2023-10-09/09-33-36/.hydra/hydra.yaml
outputs/2023-10-09/09-33-36/.hydra/overrides.yaml
outputs/2023-10-09/09-34-50/.hydra/config.yaml
outputs/2023-10-09/09-34-50/.hydra/hydra.yaml
outputs/2023-10-09/09-34-50/.hydra/overrides.yaml
outputs/2023-10-09/09-37-25/.hydra/config.yaml
outputs/2023-10-09/09-37-25/.hydra/hydra.yaml
outputs/2023-10-09/09-37-25/.hydra/overrides.yaml
outputs/2023-10-09/09-38-28/.hydra/config.yaml
outputs/2023-10-09/09-38-28/.hydra/hydra.yaml
outputs/2023-10-09/09-38-28/.hydra/overrides.yaml
outputs/2023-10-09/09-42-41/.hydra/config.yaml
outputs/2023-10-09/09-42-41/.hydra/hydra.yaml
outputs/2023-10-09/09-42-41/.hydra/overrides.yaml
outputs/2023-10-09/09-46-54/.hydra/config.yaml
outputs/2023-10-09/09-46-54/.hydra/hydra.yaml
outputs/2023-10-09/09-46-54/.hydra/overrides.yaml
outputs/2023-10-09/09-48-04/.hydra/config.yaml
outputs/2023-10-09/09-48-04/.hydra/hydra.yaml
outputs/2023-10-09/09-48-04/.hydra/overrides.yaml
outputs/2023-10-09/11-18-16/.hydra/config.yaml
outputs/2023-10-09/11-18-16/.hydra/hydra.yaml
outputs/2023-10-09/11-18-16/.hydra/overrides.yaml
outputs/2023-10-09/12-13-57/.hydra/config.yaml
outputs/2023-10-09/12-13-57/.hydra/hydra.yaml
outputs/2023-10-09/12-13-57/.hydra/overrides.yaml
outputs/2023-10-09/12-20-33/.hydra/config.yaml
outputs/2023-10-09/12-20-33/.hydra/hydra.yaml
outputs/2023-10-09/12-20-33/.hydra/overrides.yaml
outputs/2023-10-09/12-23-07/.hydra/config.yaml
outputs/2023-10-09/12-23-07/.hydra/hydra.yaml
outputs/2023-10-09/12-23-07/.hydra/overrides.yaml
outputs/2023-10-09/12-23-38/.hydra/config.yaml
outputs/2023-10-09/12-23-38/.hydra/hydra.yaml
outputs/2023-10-09/12-23-38/.hydra/overrides.yaml
outputs/2023-10-09/12-29-31/.hydra/config.yaml
outputs/2023-10-09/12-29-31/.hydra/hydra.yaml
outputs/2023-10-09/12-29-31/.hydra/overrides.yaml
outputs/2023-10-09/12-30-01/.hydra/config.yaml
outputs/2023-10-09/12-30-01/.hydra/hydra.yaml
outputs/2023-10-09/12-30-01/.hydra/overrides.yaml
outputs/2023-10-09/12-34-26/.hydra/config.yaml
outputs/2023-10-09/12-34-26/.hydra/hydra.yaml
outputs/2023-10-09/12-34-26/.hydra/overrides.yaml
outputs/2023-10-09/12-35-21/.hydra/config.yaml
outputs/2023-10-09/12-35-21/.hydra/hydra.yaml
outputs/2023-10-09/12-35-21/.hydra/overrides.yaml
outputs/2023-10-09/12-36-39/.hydra/config.yaml
outputs/2023-10-09/12-36-39/.hydra/hydra.yaml
outputs/2023-10-09/12-36-39/.hydra/overrides.yaml
outputs/2023-10-09/12-37-27/.hydra/config.yaml
outputs/2023-10-09/12-37-27/.hydra/hydra.yaml
outputs/2023-10-09/12-37-27/.hydra/overrides.yaml
outputs/2023-10-09/13-56-43/.hydra/config.yaml
outputs/2023-10-09/13-56-43/.hydra/hydra.yaml
outputs/2023-10-09/13-56-43/.hydra/overrides.yaml
outputs/2023-10-09/14-07-19/.hydra/config.yaml
outputs/2023-10-09/14-07-19/.hydra/hydra.yaml
outputs/2023-10-09/14-07-19/.hydra/overrides.yaml
outputs/2023-10-09/14-11-21/.hydra/config.yaml
outputs/2023-10-09/14-11-21/.hydra/hydra.yaml
outputs/2023-10-09/14-11-21/.hydra/overrides.yaml
outputs/2023-10-09/14-12-04/.hydra/config.yaml
outputs/2023-10-09/14-12-04/.hydra/hydra.yaml
outputs/2023-10-09/14-12-04/.hydra/overrides.yaml
outputs/2023-10-09/14-52-08/.hydra/config.yaml
outputs/2023-10-09/14-52-08/.hydra/hydra.yaml
outputs/2023-10-09/14-52-08/.hydra/overrides.yaml
outputs/2023-10-09/15-14-11/.hydra/config.yaml
outputs/2023-10-09/15-14-11/.hydra/hydra.yaml
outputs/2023-10-09/15-14-11/.hydra/overrides.yaml
outputs/2023-10-09/16-04-34/.hydra/config.yaml
outputs/2023-10-09/16-04-34/.hydra/hydra.yaml
outputs/2023-10-09/16-04-34/.hydra/overrides.yaml
outputs/2024-03-22/17-19-31/.hydra/config.yaml
outputs/2024-03-22/17-19-31/.hydra/hydra.yaml
outputs/2024-03-22/17-19-31/.hydra/overrides.yaml
outputs/2024-03-22/17-22-46/.hydra/config.yaml
outputs/2024-03-22/17-22-46/.hydra/hydra.yaml
outputs/2024-03-22/17-22-46/.hydra/overrides.yaml
outputs/2024-03-22/17-26-35/.hydra/config.yaml
outputs/2024-03-22/17-26-35/.hydra/hydra.yaml
outputs/2024-03-22/17-26-35/.hydra/overrides.yaml
outputs/2024-03-22/17-29-19/.hydra/config.yaml
outputs/2024-03-22/17-29-19/.hydra/hydra.yaml
outputs/2024-03-22/17-29-19/.hydra/overrides.yaml
outputs/2024-03-22/17-31-15/.hydra/config.yaml
outputs/2024-03-22/17-31-15/.hydra/hydra.yaml
outputs/2024-03-22/17-31-15/.hydra/overrides.yaml
outputs/2024-03-22/17-34-10/.hydra/config.yaml
outputs/2024-03-22/17-34-10/.hydra/hydra.yaml
outputs/2024-03-22/17-34-10/.hydra/overrides.yaml
outputs/2024-03-22/17-35-41/.hydra/config.yaml
outputs/2024-03-22/17-35-41/.hydra/hydra.yaml
outputs/2024-03-22/17-35-41/.hydra/overrides.yaml
outputs/2024-03-22/17-37-08/.hydra/config.yaml
outputs/2024-03-22/17-37-08/.hydra/hydra.yaml
outputs/2024-03-22/17-37-08/.hydra/overrides.yaml
outputs/2024-03-22/17-40-07/.hydra/config.yaml
outputs/2024-03-22/17-40-07/.hydra/hydra.yaml
outputs/2024-03-22/17-40-07/.hydra/overrides.yaml
outputs/2024-03-22/17-46-37/.hydra/config.yaml
outputs/2024-03-22/17-46-37/.hydra/hydra.yaml
outputs/2024-03-22/17-46-37/.hydra/overrides.yaml
outputs/2024-03-22/17-47-59/.hydra/config.yaml
outputs/2024-03-22/17-47-59/.hydra/hydra.yaml
outputs/2024-03-22/17-47-59/.hydra/overrides.yaml
outputs/2024-03-24/11-33-41/.hydra/config.yaml
outputs/2024-03-24/11-33-41/.hydra/hydra.yaml
outputs/2024-03-24/11-33-41/.hydra/overrides.yaml
outputs/2024-04-24/16-41-20/.hydra/config.yaml
outputs/2024-04-24/16-41-20/.hydra/hydra.yaml
outputs/2024-04-24/16-41-20/.hydra/overrides.yaml
outputs/2024-04-24/16-51-25/.hydra/config.yaml
outputs/2024-04-24/16-51-25/.hydra/hydra.yaml
outputs/2024-04-24/16-51-25/.hydra/overrides.yaml
outputs/2024-04-29/13-55-36/.hydra/config.yaml
outputs/2024-04-29/13-55-36/.hydra/hydra.yaml
outputs/2024-04-29/13-55-36/.hydra/overrides.yaml
outputs/2024-04-29/13-56-54/.hydra/config.yaml
outputs/2024-04-29/13-56-54/.hydra/hydra.yaml
outputs/2024-04-29/13-56-54/.hydra/overrides.yaml
